#about
    .txt
        margin: 60px 0
        h1
            font-size: 55px
            font-weight: 700
            margin-bottom: 10px
        h3
            font-size: 17px
            color: #828080
    .box
        display: flex
        align-items: center
        margin: 0 0 100px 100px
        .textbox
            width: 400px
            margin: 0 20px
            text-align: end
            h2
                font-size: 30px
                font-weight: 700
                line-height: 1.3
            h4
                font-size: 30px
                font-weight: 700
                line-height: 1.3
            p
                font-size: 19px
                color: #828080
                line-height: 1.4
        .imgbox
            width: 180px
            height: 180px
            margin: 0 30px
            img
                border-radius: 50%
                border: 6px solid rgba(210, 210, 210, 0.4784313725)
    .right
        margin: 0 100px 100px 0
        .textbox
            text-align: start
    .ourstory
        width: 180px
        height: 180px
        border-radius: 90px
        border: 6px solid #cac7c7
        background-color: #eeff00
        color: white
        .minibox
            text-align: center
            padding: 0 40px
            h2
                padding-top: 38px
                font-size: 20px
                font-weight: 700
                line-height: 1.2

    @media screen and ( max-width: 992px )
        .box
            margin-bottom: 100px
            align-items: flex-start
            .textbox
                width: 200px

    @media screen and ( max-width: 768px )
        .txt
            h1
                font-size: 50px
            h3
                font-size: 15px
        .box
            align-items: flex-start
            flex-direction: row-reverse
            margin-right: 100px
            margin-bottom: 75px
            .textbox
                text-align: start
            .imgbox
                width: 160px
                height: auto
                img
                    width: 140px
        .right
            margin-bottom: 70px
            flex-direction: row
            .textbox
                text-align: start
    .ourstory
        width: 160px
        height: 160px
        .minibox
            padding: 0 30px
