#nice
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg)
    background-position: center center
    background-size: cover
    .box
        height: 700px
        display: flex
        align-items: center
        justify-content: center
        .textbox
            h1
                font-size: 30px
                color: white
                margin-bottom: 20px
            h2
                font-size: 80px
                color: white
                margin: 0 0 50px 0
                font-weight: 700
            .btn
                background-color: #f1c00d
                color: white
                padding: 18px 40px
                font-size: 22px
                font-weight: 700
                h4
                    cursor: pointer
