#services
    .textbox
        padding-bottom: 50px
        h1
            font-size: 55px
            font-weight: 700
        h3
            font-size: 18px
            color: #878181
            margin-top: 20px
        h2
            font-size: 30px
            font-weight: 700
            margin: 20px 30px
        h4
            font-size: 14px
            color: #757272
            line-height: 1.4
    .box
        display: flex
        justify-content: center
        .icon
            display: flex
            justify-content: center
            align-items: center
            font-size: 55px
            color: white
            background-color: #f0cc17
            border-radius: 50%
            width: 130px
            height: 130px
