body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

header {
  background-color: #292828;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 1;
}
header .menu {
  padding: 10px 0;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav a {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
header .menu nav a:hover {
  color: #f1ff2e;
}
header .menu .box {
  border: 2px solid #8b8989;
  padding: 12px;
  border-radius: 5px;
  display: none;
}
header .menu .box h1 {
  color: #818181;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
header .menu .box .icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 998px) {
  header .menu {
    padding: 18px 0;
  }
  header .menu nav {
    display: none;
  }
  header .menu .box {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
}

#nice {
  min-height: 120vh;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  background-position: center;
}
#nice .textbox h1 {
  font-size: 30px;
}
#nice .textbox h3 {
  font-size: 70px;
  font-weight: 700;
  margin: 25px 0 55px;
}
#nice .textbox .btn {
  padding: 20px 50px;
  background-color: #d6a801;
  font-size: 20px;
  color: #fff;
}
#nice .textbox .btn:hover {
  background-color: #d6a801;
}
@media screen and (max-width: 768px) {
  #nice .textbox h1 {
    font-size: 20px;
  }
  #nice .textbox h3 {
    font-size: 50px;
    margin: 25px 0 55px;
  }
  #nice .textbox .btn {
    padding: 20px 50px;
    background-color: #d6a801;
    font-size: 20px;
    color: white;
  }
}

#services {
  padding-top: 25px;
}
#services .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 80px;
}
#services .textbox h2 {
  font-size: 20px;
  margin: 20px 0 60px;
  color: #6c757d;
}
#services .box {
  text-align: center;
  margin-bottom: 80px;
}
#services .box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
#services .box h3 {
  color: #5e666d;
  line-height: 1.5;
}
#services .box .icon {
  font-size: 65px;
  border-radius: 50%;
  width: 125px;
  padding: 28px 0;
  background-color: #e9c61c;
  color: white;
  margin-left: 110px;
}
@media screen and (max-width: 768px) {
  #services .box {
    padding-left: 80px;
    margin-right: 70px;
  }
  #services .box .icon {
    font-size: 65px;
    border-radius: 90px;
    width: 125px;
    padding: 30px 0;
    margin-left: 110px;
  }
}

#portfolio {
  background-color: #eff6ff;
}
#portfolio h1 {
  font-size: 45px;
  color: #212529;
  font-weight: 700;
  padding-top: 70px;
}
#portfolio h3 {
  color: #747e88;
  font-size: 20px;
  padding: 20px 0 70px 0;
}
#portfolio .box {
  margin-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox img {
  width: 350px;
  height: 300px;
}
#portfolio .box .imgbox:hover .overlay {
  opacity: 1;
  width: 350px;
  height: 300px;
}
#portfolio .box .imgbox .overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(224, 183, 32, 0.9019607843);
  opacity: 0;
  cursor: pointer;
  transition: 300ms opacity;
  width: 350px;
  height: 300px;
}
#portfolio .box .imgbox .overlay .icon {
  font-size: 50px;
  color: white;
}
#portfolio .box .textbox h2 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}
#about {
  padding: 80px 0;
}
#about .reverse {
  display: flex;
  flex-direction: row-reverse;
}
#about .txt1 h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
}
#about .txt1 h2 {
  font-size: 20px;
  margin: 20px;
  color: #646c74;
}
#about .txt-right {
  width: 38%;
  margin-left: 30px;
  text-align: left;
}
#about .txt-left {
  padding-left: 40px;
}
#about .textbox {
  text-align: left;
  width: 76%;
}
#about .textbox h1, #about .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about .textbox h2 {
  margin: 10px 0;
}
#about .textbox h3 {
  font-size: 19px;
  line-height: 1.4;
  color: #6c757d;
}
#about .imgbox1, #about .imgbox {
  width: 100px;
  height: 25%;
}
#about .imgbox1 img, #about .imgbox img {
  border-radius: 100px;
}
#about .imgbox1 {
  padding-left: 40px;
}
#about .imgbox {
  padding-right: 45px;
}
#about .circle h1 {
  text-align: center;
  background-color: #ffc800;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  width: 103px;
  border: 7px solid rgba(231, 234, 234, 0.9960784314);
  border-radius: 50%;
  padding: 16px 20px;
  margin-top: 70px;
}
@media screen and (min-width: 576px) {
  #about .textbox {
    text-align: left;
    width: 600px;
  }
  #about .textbox h3 {
    margin: 0;
  }
  #about .txt-right {
    text-align: left;
  }
  #about .txt-right h3 {
    margin: 0;
  }
  #about .imgbox {
    width: 195px;
    margin-right: 50px;
  }
  #about .circle h1 {
    font-size: 20px;
    width: 111px;
    padding: 13px 20px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  #about .reverse {
    display: flex;
    flex-direction: row;
  }
  #about .textbox {
    text-align: right;
    max-width: 272px;
    margin-right: 25px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    width: 85px;
    margin-right: 20px;
  }
  #about .circle h1 {
    font-size: 15px;
    width: 86px;
    padding: 11px 5px;
    margin-right: 25px;
  }
  #about .edit {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  #about .textbox {
    text-align: right;
    max-width: 384px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    width: 195px;
  }
  #about .circle h1 {
    font-size: 19px;
    width: 105px;
    padding: 12px 18px;
  }
}
@media screen and (min-width: 1200px) {
  #about .textbox {
    text-align: right;
    max-width: 535px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    max-width: 160px;
  }
  #about .circle h1 {
    font-size: 28px;
    width: 159px;
    padding: 26px 18px;
  }
}

#team h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
}
#team h3 {
  font-size: 20px;
  color: #6c757d;
  margin: 20px 0 60px;
}
#team .imgbox img {
  width: 230px;
  border-radius: 50%;
  margin: auto;
  border: 8px solid rgba(138, 137, 137, 0.2039215686);
}
#team h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
#team h4 {
  font-size: 18px;
  color: #6c757d;
  margin: 10px 0 20px;
}
#team ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#team ul li {
  margin: 0 15px 0 10px;
}
#team ul li .icon {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
#team ul li .icon i {
  cursor: pointer;
}
#team .textbox p {
  max-width: 810px;
  font-size: 20px;
  color: #6c757d;
  text-align: center;
}

#contact {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.9;
}
#contact h1 {
  font-weight: 700;
  font-size: 45px;
  color: white;
}
#contact h3 {
  font-size: 20px;
  color: #6c757d;
  margin: 20px 0 60px;
}
#contact .add {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
#contact .add input {
  background-color: white;
  margin: 18px 0;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.9;
}
#contact .text {
  display: flex;
  margin-top: 55px;
  font-size: 20px;
}
#contact .text textarea {
  padding: 18px;
  font-weight: 700;
  border-radius: 5px;
  opacity: 0.9;
  color: #858080;
}
#contact .btn {
  padding: 20px 60px;
  background-color: #daaa00;
  margin-top: 42px;
  opacity: 0.8;
}
#contact .btn h4 {
  font-size: 23px;
  font-weight: 600;
  color: white;
}
@media screen and (max-width: 768px) {
  #contact .text {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */